<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>爱女人</string>
	<string>爱液</string>
	<string>按摩棒</string>
	<string>拔出来</string>
	<string>爆草</string>
	<string>包二奶</string>
	<string>暴干</string>
	<string>暴奸</string>
	<string>暴乳</string>
	<string>爆乳</string>
	<string>暴淫</string>
	<string>屄</string>
	<string>被操</string>
	<string>被插</string>
	<string>被干</string>
	<string>逼奸</string>
	<string>仓井空</string>
	<string>插暴</string>
	<string>操逼</string>
	<string>操黑</string>
	<string>操烂</string>
	<string>肏你</string>
	<string>肏死</string>
	<string>操死</string>
	<string>操我</string>
	<string>厕奴</string>
	<string>插比</string>
	<string>插b</string>
	<string>插逼</string>
	<string>插进</string>
	<string>插你</string>
	<string>插我</string>
	<string>插阴</string>
	<string>潮吹</string>
	<string>潮喷</string>
	<string>成人dv</string>
	<string>成人电影</string>
	<string>成人论坛</string>
	<string>成人小说</string>
	<string>成人电</string>
	<string>成人卡通</string>
	<string>成人聊</string>
	<string>成人片</string>
	<string>成人视</string>
	<string>成人图</string>
	<string>成人文</string>
	<string>成人小</string>
	<string>成人色情</string>
	<string>成人网站</string>
	<string>成人文学</string>
	<string>艳情小说</string>
	<string>成人游戏</string>
	<string>吃精</string>
	<string>赤裸</string>
	<string>抽插</string>
	<string>扌由插</string>
	<string>抽一插</string>
	<string>春药</string>
	<string>大波</string>
	<string>大力抽送</string>
	<string>大乳</string>
	<string>荡妇</string>
	<string>荡女</string>
	<string>盗撮</string>
	<string>多人轮</string>
	<string>发浪</string>
	<string>放尿</string>
	<string>肥逼</string>
	<string>粉穴</string>
	<string>封面女郎</string>
	<string>风月大陆</string>
	<string>干死你</string>
	<string>干穴</string>
	<string>肛交</string>
	<string>肛门</string>
	<string>龟头</string>
	<string>裹本</string>
	<string>国产av</string>
	<string>好嫩</string>
	<string>豪乳</string>
	<string>黑逼</string>
	<string>后庭</string>
	<string>后穴</string>
	<string>虎骑</string>
	<string>花花公子</string>
	<string>换妻俱乐部</string>
	<string>黄片</string>
	<string>几吧</string>
	<string>鸡吧</string>
	<string>鸡巴</string>
	<string>鸡奸</string>
	<string>寂寞男</string>
	<string>寂寞女</string>
	<string>妓女</string>
	<string>激情</string>
	<string>集体淫</string>
	<string>奸情</string>
	<string>叫床</string>
	<string>脚交</string>
	<string>金鳞岂是池中物</string>
	<string>金麟岂是池中物</string>
	<string>精液</string>
	<string>就去日</string>
	<string>巨屌</string>
	<string>菊花洞</string>
	<string>菊门</string>
	<string>巨奶</string>
	<string>巨乳</string>
	<string>菊穴</string>
	<string>开苞</string>
	<string>口爆</string>
	<string>口活</string>
	<string>口交</string>
	<string>口射</string>
	<string>口淫</string>
	<string>裤袜</string>
	<string>狂操</string>
	<string>狂插</string>
	<string>浪逼</string>
	<string>浪妇</string>
	<string>浪叫</string>
	<string>浪女</string>
	<string>狼友</string>
	<string>聊性</string>
	<string>流淫</string>
	<string>铃木麻</string>
	<string>凌辱</string>
	<string>漏乳</string>
	<string>露b</string>
	<string>乱交</string>
	<string>乱伦</string>
	<string>轮暴</string>
	<string>轮操</string>
	<string>轮奸</string>
	<string>裸陪</string>
	<string>买春</string>
	<string>美逼</string>
	<string>美少妇</string>
	<string>美乳</string>
	<string>美腿</string>
	<string>美穴</string>
	<string>美幼</string>
	<string>秘唇</string>
	<string>迷奸</string>
	<string>密穴</string>
	<string>蜜穴</string>
	<string>蜜液</string>
	<string>摸奶</string>
	<string>摸胸</string>
	<string>母奸</string>
	<string>奈美</string>
	<string>奶子</string>
	<string>男奴</string>
	<string>内射</string>
	<string>嫩逼</string>
	<string>嫩女</string>
	<string>嫩穴</string>
	<string>捏弄</string>
	<string>女优</string>
	<string>炮友</string>
	<string>砲友</string>
	<string>喷精</string>
	<string>屁眼</string>
	<string>品香堂</string>
	<string>前凸后翘</string>
	<string>强jian</string>
	<string>强暴</string>
	<string>强奸处女</string>
	<string>情趣用品</string>
	<string>情色</string>
	<string>拳交</string>
	<string>全裸</string>
	<string>群交</string>
	<string>惹火身材</string>
	<string>人妻</string>
	<string>人兽</string>
	<string>日逼</string>
	<string>日烂</string>
	<string>肉棒</string>
	<string>肉逼</string>
	<string>肉唇</string>
	<string>肉洞</string>
	<string>肉缝</string>
	<string>肉棍</string>
	<string>肉茎</string>
	<string>肉具</string>
	<string>揉乳</string>
	<string>肉穴</string>
	<string>肉欲</string>
	<string>乳爆</string>
	<string>乳房</string>
	<string>乳沟</string>
	<string>乳交</string>
	<string>乳头</string>
	<string>三级片</string>
	<string>骚逼</string>
	<string>骚比</string>
	<string>骚女</string>
	<string>骚水</string>
	<string>骚穴</string>
	<string>色逼</string>
	<string>色界</string>
	<string>色猫</string>
	<string>色盟</string>
	<string>色情网站</string>
	<string>色区</string>
	<string>色色</string>
	<string>色诱</string>
	<string>色欲</string>
	<string>色b</string>
	<string>少年阿宾</string>
	<string>少修正</string>
	<string>射爽</string>
	<string>射颜</string>
	<string>食精</string>
	<string>释欲</string>
	<string>兽奸</string>
	<string>兽交</string>
	<string>手淫</string>
	<string>兽欲</string>
	<string>熟妇</string>
	<string>熟母</string>
	<string>熟女</string>
	<string>爽片</string>
	<string>爽死我了</string>
	<string>双臀</string>
	<string>死逼</string>
	<string>丝袜</string>
	<string>丝诱</string>
	<string>松岛枫</string>
	<string>酥痒</string>
	<string>汤加丽</string>
	<string>套弄</string>
	<string>体奸</string>
	<string>体位</string>
	<string>舔脚</string>
	<string>舔阴</string>
	<string>调教</string>
	<string>偷欢</string>
	<string>偷拍</string>
	<string>推油</string>
	<string>脱内裤</string>
	<string>文做</string>
	<string>我就色</string>
	<string>无码</string>
	<string>舞女</string>
	<string>无修正</string>
	<string>吸精</string>
	<string>夏川纯</string>
	<string>相奸</string>
	<string>小逼</string>
	<string>校鸡</string>
	<string>小穴</string>
	<string>小xue</string>
	<string>写真</string>
	<string>性感妖娆</string>
	<string>性感诱惑</string>
	<string>性虎</string>
	<string>性饥渴</string>
	<string>性技巧</string>
	<string>性交</string>
	<string>性奴</string>
	<string>性虐</string>
	<string>性息</string>
	<string>性欲</string>
	<string>胸推</string>
	<string>穴口</string>
	<string>学生妹</string>
	<string>穴图</string>
	<string>亚情</string>
	<string>颜射</string>
	<string>阳具</string>
	<string>杨思敏</string>
	<string>要射了</string>
	<string>夜勤病栋</string>
	<string>一本道</string>
	<string>一夜欢</string>
	<string>一夜情</string>
	<string>一ye情</string>
	<string>阴部</string>
	<string>淫虫</string>
	<string>阴唇</string>
	<string>淫荡</string>
	<string>阴道</string>
	<string>淫电影</string>
	<string>阴阜</string>
	<string>淫妇</string>
	<string>淫河</string>
	<string>阴核</string>
	<string>阴户</string>
	<string>淫贱</string>
	<string>淫叫</string>
	<string>淫教师</string>
	<string>阴茎</string>
	<string>阴精</string>
	<string>淫浪</string>
	<string>淫媚</string>
	<string>淫糜</string>
	<string>淫魔</string>
	<string>淫母</string>
	<string>淫女</string>
	<string>淫虐</string>
	<string>淫妻</string>
	<string>淫情</string>
	<string>淫色</string>
	<string>淫声浪语</string>
	<string>淫兽学园</string>
	<string>淫书</string>
	<string>淫术炼金士</string>
	<string>淫水</string>
	<string>淫娃</string>
	<string>淫威</string>
	<string>淫亵</string>
	<string>淫样</string>
	<string>淫液</string>
	<string>淫照</string>
	<string>阴b</string>
	<string>应召</string>
	<string>幼交</string>
	<string>幼男</string>
	<string>幼女</string>
	<string>欲火</string>
	<string>欲女</string>
	<string>玉女心经</string>
	<string>玉蒲团</string>
	<string>玉乳</string>
	<string>欲仙欲死</string>
	<string>玉穴</string>
	<string>援交</string>
	<string>原味内衣</string>
	<string>援助交际</string>
	<string>张筱雨</string>
	<string>招鸡</string>
	<string>招妓</string>
	<string>中年美妇</string>
	<string>抓胸</string>
	<string>自拍</string>
	<string>自慰</string>
	<string>作爱</string>
	<string>18禁</string>
	<string>99bb</string>
	<string>a4u</string>
	<string>a4y</string>
	<string>adult</string>
	<string>amateur</string>
	<string>anal</string>
	<string>a片</string>
	<string>gay片</string>
	<string>g点</string>
	<string>g片</string>
	<string>hardcore</string>
	<string>h动画</string>
	<string>h动漫</string>
	<string>porn</string>
	<string>secom</string>
	<string>sexinsex</string>
	<string>sm女王</string>
	<string>xiao77</string>
	<string>xing伴侣</string>
	<string>tokyohot</string>
	<string>yin荡</string>
	<string>贱人</string>
	<string>装b</string>
	<string>大sb</string>
	<string>傻逼</string>
	<string>傻b</string>
	<string>煞逼</string>
	<string>煞笔</string>
	<string>刹笔</string>
	<string>傻比</string>
	<string>沙比</string>
	<string>欠干</string>
	<string>婊子养的</string>
	<string>我日你</string>
	<string>我操</string>
	<string>我草</string>
	<string>卧艹</string>
	<string>卧槽</string>
	<string>爆你菊</string>
	<string>艹你</string>
	<string>cao你</string>
	<string>你他妈</string>
	<string>真他妈</string>
	<string>别他吗</string>
	<string>草你吗</string>
	<string>草你丫</string>
	<string>操你妈</string>
	<string>擦你妈</string>
	<string>操你娘</string>
	<string>操他妈</string>
	<string>日你妈</string>
	<string>干你妈</string>
	<string>干你娘</string>
	<string>娘西皮</string>
	<string>狗操</string>
	<string>狗草</string>
	<string>狗杂种</string>
	<string>狗日的</string>
	<string>操你祖宗</string>
	<string>操你全家</string>
	<string>操你大爷</string>
	<string>妈逼</string>
	<string>你麻痹</string>
	<string>麻痹的</string>
	<string>妈了个逼</string>
	<string>马勒</string>
	<string>狗娘养</string>
	<string>贱比</string>
	<string>贱b</string>
	<string>下贱</string>
	<string>死全家</string>
	<string>全家死光</string>
	<string>全家不得好死</string>
	<string>全家死绝</string>
	<string>白痴</string>
	<string>无耻</string>
	<string>sb</string>
	<string>杀b</string>
	<string>你吗b</string>
	<string>你妈的</string>
	<string>婊子</string>
	<string>贱货</string>
	<string>人渣</string>
	<string>混蛋</string>
	<string>媚外</string>
	<string>和弦</string>
	<string>兼职</string>
	<string>限量</string>
	<string>铃声</string>
	<string>性伴侣</string>
	<string>男公关</string>
	<string>火辣</string>
	<string>精子</string>
	<string>射精</string>
	<string>诱奸</string>
	<string>强奸</string>
	<string>做爱</string>
	<string>性爱</string>
	<string>发生关系</string>
	<string>按摩</string>
	<string>快感</string>
	<string>处男</string>
	<string>猛男</string>
	<string>少妇</string>
	<string>屌</string>
	<string>屁股</string>
	<string>下体</string>
	<string>内裤</string>
	<string>浑圆</string>
	<string>咪咪</string>
	<string>发情</string>
	<string>刺激</string>
	<string>白嫩</string>
	<string>粉嫩</string>
	<string>兽性</string>
	<string>风骚</string>
	<string>呻吟</string>
	<string>sm</string>
	<string>阉割</string>
	<string>高潮</string>
	<string>裸露</string>
	<string>不穿</string>
	<string>一丝不挂</string>
	<string>脱光</string>
	<string>干你</string>
	<string>干死</string>
	<string>我干</string>
	<string>裙中性运动</string>
	<string>乱奸</string>
	<string>乱伦类</string>
	<string>乱伦小</string>
	<string>伦理大</string>
	<string>伦理电影</string>
	<string>伦理毛</string>
	<string>伦理片</string>
	<string>裸聊</string>
	<string>裸聊网</string>
	<string>裸体写真</string>
	<string>裸舞视</string>
	<string>裸照</string>
	<string>美女裸体</string>
	<string>美女写真</string>
	<string>美女上门</string>
	<string>美艳少妇</string>
	<string>妹按摩</string>
	<string>妹上门</string>
	<string>迷幻药</string>
	<string>迷幻藥</string>
	<string>迷昏口</string>
	<string>迷昏药</string>
	<string>迷昏藥</string>
	<string>迷魂香</string>
	<string>迷魂药</string>
	<string>迷魂藥</string>
	<string>迷奸粉</string>
	<string>迷奸药</string>
	<string>迷情粉</string>
	<string>迷情水</string>
	<string>迷情药</string>
	<string>迷藥</string>
	<string>谜奸药</string>
	<string>骚妇</string>
	<string>骚货</string>
	<string>骚浪</string>
	<string>骚嘴</string>
	<string>色电影</string>
	<string>色妹妹</string>
	<string>色情表演</string>
	<string>色情电影</string>
	<string>色情服务</string>
	<string>色情图片</string>
	<string>色情小说</string>
	<string>色情影片</string>
	<string>色情片</string>
	<string>色视频</string>
	<string>色小说</string>
	<string>性服务</string>
	<string>性福情</string>
	<string>性感少</string>
	<string>性伙伴</string>
	<string>性交视频</string>
	<string>性交图片</string>
	<string>性奴集中营</string>
	<string>阴蒂</string>
	<string>阴间来电</string>
	<string>阴茎增大</string>
	<string>阴茎助勃</string>
	<string>阴毛</string>
	<string>陰唇</string>
	<string>陰道</string>
	<string>陰戶</string>
	<string>淫荡美女</string>
	<string>淫荡视频</string>
	<string>淫荡照片</string>
	<string>淫乱</string>
	<string>淫靡</string>
	<string>淫魔舞</string>
	<string>淫情女</string>
	<string>淫肉</string>
	<string>淫騷妹</string>
	<string>淫兽</string>
	<string>淫兽学</string>
	<string>淫穴</string>
	<string>看片</string>
	<string>出售</string>
	<string>A片</string>
	<string>愛愛</string>
	<string>愛愛視頻</string>
	<string>騷女</string>
	<string>文爱</string>
	<string>硬了</string>
	<string>母狗</string>
	<string>春梦</string>
	<string>新片</string>
	<string>制服</string>
	<string>诱惑</string>
	<string>制服诱惑</string>
	<string>果聊</string>
	<string>蝴蝶穴</string>
	<string>大吸管</string>
	<string>湿了</string>
	<string>大鸡巴</string>
	<string>晨勃</string>
	<string>硬</string>
	<string>sex</string>
	<string>sao</string>
	<string>骚</string>
	<string>聊污</string>
	<string>內褲</string>
	<string>撸</string>
	<string>啪啪</string>
	<string>舔湿</string>
	<string>操</string>
	<string>逼</string>
	<string>色女</string>
	<string>射</string>
	<string>ahole</string>
	<string>anus</string>
	<string>ash0le</string>
	<string>ash0les</string>
	<string>asholes</string>
	<string>ass</string>
	<string>Ass Monkey</string>
	<string>Assface</string>
	<string>assh0le</string>
	<string>assh0lez</string>
	<string>asshole</string>
	<string>assholes</string>
	<string>assholz</string>
	<string>asswipe</string>
	<string>azzhole</string>
	<string>bassterds</string>
	<string>bastard</string>
	<string>bastards</string>
	<string>bastardz</string>
	<string>basterds</string>
	<string>basterdz</string>
	<string>Biatch</string>
	<string>bitch</string>
	<string>bitches</string>
	<string>Blow Job</string>
	<string>boffing</string>
	<string>butthole</string>
	<string>buttwipe</string>
	<string>c0ck</string>
	<string>c0cks</string>
	<string>c0k</string>
	<string>Carpet Muncher</string>
	<string>cawk</string>
	<string>cawks</string>
	<string>Clit</string>
	<string>cnts</string>
	<string>cntz</string>
	<string>cock</string>
	<string>cockhead</string>
	<string>cock-head</string>
	<string>cocks</string>
	<string>CockSucker</string>
	<string>cock-sucker</string>
	<string>crap</string>
	<string>cum</string>
	<string>cunt</string>
	<string>cunts</string>
	<string>cuntz</string>
	<string>dick</string>
	<string>dild0</string>
	<string>dild0s</string>
	<string>dildo</string>
	<string>dildos</string>
	<string>dilld0</string>
	<string>dilld0s</string>
	<string>dominatricks</string>
	<string>dominatrics</string>
	<string>dominatrix</string>
	<string>dyke</string>
	<string>enema</string>
	<string>f u c k</string>
	<string>f u c k e r</string>
	<string>fag</string>
	<string>fag1t</string>
	<string>faget</string>
	<string>fagg1t</string>
	<string>faggit</string>
	<string>faggot</string>
	<string>fagit</string>
	<string>fags</string>
	<string>fagz</string>
	<string>faig</string>
	<string>faigs</string>
	<string>fart</string>
	<string>flipping the bird</string>
	<string>fuck</string>
	<string>fucker</string>
	<string>fuckin</string>
	<string>fucking</string>
	<string>fucks</string>
	<string>Fudge Packer</string>
	<string>fuk</string>
	<string>Fukah</string>
	<string>Fuken</string>
	<string>fuker</string>
	<string>Fukin</string>
	<string>Fukk</string>
	<string>Fukkah</string>
	<string>Fukken</string>
	<string>Fukker</string>
	<string>Fukkin</string>
	<string>g00k</string>
	<string>gay</string>
	<string>gayboy</string>
	<string>gaygirl</string>
	<string>gays</string>
	<string>gayz</string>
	<string>God-damned</string>
	<string>h00r</string>
	<string>h0ar</string>
	<string>h0re</string>
	<string>hells</string>
	<string>hoar</string>
	<string>hoor</string>
	<string>hoore</string>
	<string>jackoff</string>
	<string>jap</string>
	<string>japs</string>
	<string>jerk-off</string>
	<string>jisim</string>
	<string>jiss</string>
	<string>jizm</string>
	<string>jizz</string>
	<string>knob</string>
	<string>knobs</string>
	<string>knobz</string>
	<string>kunt</string>
	<string>kunts</string>
	<string>kuntz</string>
	<string>Lesbian</string>
	<string>Lezzian</string>
	<string>Lipshits</string>
	<string>Lipshitz</string>
	<string>masochist</string>
	<string>masokist</string>
	<string>massterbait</string>
	<string>masstrbait</string>
	<string>masstrbate</string>
	<string>masterbaiter</string>
	<string>masterbate</string>
	<string>masterbates</string>
	<string>Motha Fucker</string>
	<string>Motha Fuker</string>
	<string>Motha Fukkah</string>
	<string>Motha Fukker</string>
	<string>Mother Fucker</string>
	<string>Mother Fukah</string>
	<string>Mother Fuker</string>
	<string>Mother Fukkah</string>
	<string>Mother Fukker</string>
	<string>mother-fucker</string>
	<string>Mutha Fucker</string>
	<string>Mutha Fukah</string>
	<string>Mutha Fuker</string>
	<string>Mutha Fukkah</string>
	<string>Mutha Fukker</string>
	<string>n1gr</string>
	<string>nastt</string>
	<string>nigger;</string>
	<string>nigur;</string>
	<string>niiger;</string>
	<string>niigr;</string>
	<string>orafis</string>
	<string>orgasim;</string>
	<string>orgasm</string>
	<string>orgasum</string>
	<string>oriface</string>
	<string>orifice</string>
	<string>orifiss</string>
	<string>packi</string>
	<string>packie</string>
	<string>packy</string>
	<string>paki</string>
	<string>pakie</string>
	<string>paky</string>
	<string>pecker</string>
	<string>peeenus</string>
	<string>peeenusss</string>
	<string>peenus</string>
	<string>peinus</string>
	<string>pen1s</string>
	<string>penas</string>
	<string>penis</string>
	<string>penis-breath</string>
	<string>penus</string>
	<string>penuus</string>
	<string>Phuc</string>
	<string>Phuck</string>
	<string>Phuk</string>
	<string>Phuker</string>
	<string>Phukker</string>
	<string>polac</string>
	<string>polack</string>
	<string>polak</string>
	<string>Poonani</string>
	<string>pr1c</string>
	<string>pr1ck</string>
	<string>pr1k</string>
	<string>pusse</string>
	<string>pussee</string>
	<string>pussy</string>
	<string>puuke</string>
	<string>puuker</string>
	<string>queer</string>
	<string>queers</string>
	<string>queerz</string>
	<string>qweers</string>
	<string>qweerz</string>
	<string>qweir</string>
	<string>recktum</string>
	<string>rectum</string>
	<string>retard</string>
	<string>sadist</string>
	<string>scank</string>
	<string>schlong</string>
	<string>screwing</string>
	<string>semen</string>
	<string>sex</string>
	<string>sexy</string>
	<string>Sh!t</string>
	<string>sh1t</string>
	<string>sh1ter</string>
	<string>sh1ts</string>
	<string>sh1tter</string>
	<string>sh1tz</string>
	<string>shit</string>
	<string>shits</string>
	<string>shitter</string>
	<string>Shitty</string>
	<string>Shity</string>
	<string>shitz</string>
	<string>Shyt</string>
	<string>Shyte</string>
	<string>Shytty</string>
	<string>Shyty</string>
	<string>skanck</string>
	<string>skank</string>
	<string>skankee</string>
	<string>skankey</string>
	<string>skanks</string>
	<string>Skanky</string>
	<string>slut</string>
	<string>sluts</string>
	<string>Slutty</string>
	<string>slutz</string>
	<string>son-of-a-bitch</string>
	<string>tit</string>
	<string>turd</string>
	<string>va1jina</string>
	<string>vag1na</string>
	<string>vagiina</string>
	<string>vagina</string>
	<string>vaj1na</string>
	<string>vajina</string>
	<string>vullva</string>
	<string>vulva</string>
	<string>w0p</string>
	<string>wh00r</string>
	<string>wh0re</string>
	<string>whore</string>
	<string>xrated</string>
	<string>xxx</string>
	<string>b!+ch</string>
	<string>bitch</string>
	<string>blowjob</string>
	<string>clit</string>
	<string>arschloch</string>
	<string>fuck</string>
	<string>shit</string>
	<string>ass</string>
	<string>asshole</string>
	<string>b!tch</string>
	<string>b17ch</string>
	<string>b1tch</string>
	<string>bastard</string>
	<string>bi+ch</string>
	<string>boiolas</string>
	<string>buceta</string>
	<string>c0ck</string>
	<string>cawk</string>
	<string>chink</string>
	<string>cipa</string>
	<string>clits</string>
	<string>cock</string>
	<string>cum</string>
	<string>cunt</string>
	<string>dildo</string>
	<string>dirsa</string>
	<string>ejakulate</string>
	<string>fatass</string>
	<string>fcuk</string>
	<string>fuk</string>
	<string>fux0r</string>
	<string>hoer</string>
	<string>hore</string>
	<string>jism</string>
	<string>kawk</string>
	<string>l3itch</string>
	<string>l3i+ch</string>
	<string>lesbian</string>
	<string>masturbate</string>
	<string>masterbat*</string>
	<string>masterbat3</string>
	<string>motherfucker</string>
	<string>s.o.b.</string>
	<string>mofo</string>
	<string>nazi</string>
	<string>nigga</string>
	<string>nigger</string>
	<string>nutsack</string>
	<string>phuck</string>
	<string>pimpis</string>
	<string>pusse</string>
	<string>pussy</string>
	<string>scrotum</string>
	<string>sh!t</string>
	<string>shemale</string>
	<string>shi+</string>
	<string>sh!+</string>
	<string>slut</string>
	<string>smut</string>
	<string>teets</string>
	<string>tits</string>
	<string>boobs</string>
	<string>b00bs</string>
	<string>teez</string>
	<string>testical</string>
	<string>testicle</string>
	<string>titt</string>
	<string>w00se</string>
	<string>jackoff</string>
	<string>wank</string>
	<string>whoar</string>
	<string>whore</string>
	<string>*damn</string>
	<string>*dyke</string>
	<string>*fuck*</string>
	<string>*shit*</string>
	<string>@$$</string>
	<string>amcik</string>
	<string>andskota</string>
	<string>arse*</string>
	<string>assrammer</string>
	<string>ayir</string>
	<string>bi7ch</string>
	<string>bitch*</string>
	<string>bollock*</string>
	<string>breasts</string>
	<string>butt-pirate</string>
	<string>cabron</string>
	<string>cazzo</string>
	<string>chraa</string>
	<string>chuj</string>
	<string>Cock*</string>
	<string>cunt*</string>
	<string>d4mn</string>
	<string>daygo</string>
	<string>dego</string>
	<string>dick*</string>
	<string>dike*</string>
	<string>dupa</string>
	<string>dziwka</string>
	<string>ejackulate</string>
	<string>Ekrem*</string>
	<string>Ekto</string>
	<string>enculer</string>
	<string>faen</string>
	<string>fag*</string>
	<string>fanculo</string>
	<string>fanny</string>
	<string>feces</string>
	<string>feg</string>
	<string>Felcher</string>
	<string>ficken</string>
	<string>fitt*</string>
	<string>Flikker</string>
	<string>foreskin</string>
	<string>Fotze</string>
	<string>Fu(*</string>
	<string>fuk*</string>
	<string>futkretzn</string>
	<string>gay</string>
	<string>gook</string>
	<string>guiena</string>
	<string>h0r</string>
	<string>h4x0r</string>
	<string>hell</string>
	<string>helvete</string>
	<string>hoer*</string>
	<string>honkey</string>
	<string>Huevon</string>
	<string>hui</string>
	<string>injun</string>
	<string>jizz</string>
	<string>kanker*</string>
	<string>kike</string>
	<string>klootzak</string>
	<string>kraut</string>
	<string>knulle</string>
	<string>kuk</string>
	<string>kuksuger</string>
	<string>Kurac</string>
	<string>kurwa</string>
	<string>kusi*</string>
	<string>kyrpa*</string>
	<string>lesbo</string>
	<string>mamhoon</string>
	<string>masturbat*</string>
	<string>merd*</string>
	<string>mibun</string>
	<string>monkleigh</string>
	<string>mouliewop</string>
	<string>muie</string>
	<string>mulkku</string>
	<string>muschi</string>
	<string>nazis</string>
	<string>nepesaurio</string>
	<string>nigger*</string>
	<string>orospu</string>
	<string>paska*</string>
	<string>perse</string>
	<string>picka</string>
	<string>pierdol*</string>
	<string>pillu*</string>
	<string>pimmel</string>
	<string>piss*</string>
	<string>pizda</string>
	<string>poontsee</string>
	<string>poop</string>
	<string>porn</string>
	<string>p0rn</string>
	<string>pr0n</string>
	<string>preteen</string>
	<string>pula</string>
	<string>pule</string>
	<string>puta</string>
	<string>puto</string>
	<string>qahbeh</string>
	<string>queef*</string>
	<string>rautenberg</string>
	<string>schaffer</string>
	<string>scheiss*</string>
	<string>schlampe</string>
	<string>schmuck</string>
	<string>screw</string>
	<string>sh!t*</string>
	<string>sharmuta</string>
	<string>sharmute</string>
	<string>shipal</string>
	<string>shiz</string>
	<string>skribz</string>
	<string>skurwysyn</string>
	<string>sphencter</string>
	<string>spic</string>
	<string>spierdalaj</string>
	<string>splooge</string>
	<string>suka</string>
	<string>b00b*</string>
	<string>testicle*</string>
	<string>titt*</string>
	<string>twat</string>
	<string>vittu</string>
	<string>wank*</string>
	<string>wetback*</string>
	<string>wichser</string>
	<string>wop*</string>
	<string>yed</string>
	<string>zabourah</string>
</array>
</plist>
